<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main.html :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main role="main">
    <div class="jumbotron">
        <div class="container p-5 mt-5">

            <h3>Welcome To Spring RestTemplate</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa doloremque ducimus et,
                facilis hic id iste iure maxime minus nostrum obcaecati quam quasi quia sapiente, tenetur velit veniam
                voluptate voluptates!
            </p>
        </div>
    </div>
</main>
</body>
</html>